googleMapReactTest/node_modules/
djangobackend/node_modules/
reactnativeapp/
djangobackend/Frames/
djangobackend/FramesInput/
djangobackend/FramesOutput/
djangobackend/FramesInput2/
djangobackend/FramesOutput3/
djangobackend/yolov3.cfg
djangobackend/yolov3.weights
djangobackend/resnet50_csv_60-converted.h5
djangobackend/video0.mp4
djangobackend/video1.mp4
djangobackend/video2.mp4
djangobackend/video3.mp4
djangobackend/video4.mp4
djangobackend/video5.mp4
djangobackend/video6.mp4
djangobackend/video7.mp4
djangobackend/video8.mp4
djangobackend/video9.mp4
djangobackend/video10.mp4
djangobackend/video00.mp4
djangobackend/video01.mp4
djangobackend/persondrone.mp4
djangobackend/people_detected.avi